*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* *************************** */
header{
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  
  position: sticky;
  top: -5vh;
  z-index: 100;
}
header>section{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 10px 40px;
}
header>section:first-child{
  background-color: #000000;
  justify-content: space-between;
}
header>section:last-child{
  background-color: #ffffff;
  justify-content: center;
}
header>section>.pageBtn{
  border-radius: 5px;
  /* border: 1px solid #9c9c9c; */
  border: none;
  background-color: #3b3b3b;
  padding: 0 5px;
  margin: 0 20px;
}
header>section>.pageBtn:hover{
  cursor: pointer;
  background-color: #9c9c9c;
  color: #000000;
}
header>section>#visitCount{
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* *************************** */

main{
  min-width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
footer{
  min-width: 100%;
  height: 10vh;
  background-color: #9c9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

header div{
  user-select: none;
}
header>section:first-child>div:hover{
  cursor: pointer;
}



/* pages공통 */
main>.contents-section{
  min-height: 45vh;
  min-width: 60vw;
  max-width: 90vw;
  padding: 2%;
  border-radius: 25px;
  margin: 50px auto;
  visibility: visible;
}
.rowbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.colbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.harf-row{
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.title-col{
  width: 100%;
  margin: 20px 0;
}
.contents-col{
  width: 100%;
  flex-grow: 1;
}
.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-section div,
#profile-section a{
  color: black;
  text-decoration: none;
}