*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header{
  min-width: 100%;
  height: 10vh;
  padding: 10px 40px;
  background-color: #9c9c9c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  
  position: sticky;
  top: -60px;
}
main{
  min-width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
footer{
  min-width: 100%;
  height: 10vh;
  background-color: #9c9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

header div{
  user-select: none;
}
header>section:first-child>div:hover{
  cursor: pointer;
}



/* pages공통 */
main>.contents-section{
  min-height: 45vh;
  min-width: 60vw;
  max-width: 90vw;
  padding: 2%;
  border-radius: 25px;
  margin: 50px auto;
  visibility: visible;
}
.rowbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.colbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.harf-row{
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.title-col{
  width: 100%;
  margin: 20px 0;
}
.contents-col{
  width: 100%;
  flex-grow: 1;
}
.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}