.frontMainBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.frontMainBox:first-child{
  justify-content: center;
}
.frontMainBox:nth-child(2){
  justify-content: space-between;
}

#frontMainImgBox{
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 30vh;
}
#frontMainTextBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  flex-grow: 0;
  padding: 0;
  margin-top: 100px;
}
#frontMainTextBox>.btnDiv{
  width: 300px;
  height: 180px;
  margin: 50px;
  border: #9c9c9c 1px solid;
  border-radius: 10px;
  background-color: #ffffff;
  color: #ffffff;
  display: flex;
  font-size: xx-large;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#frontMainTextBox>.btnDiv:hover{
  background-color: #cacaca;
}


.frontMainBox>section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.frontMainBox>section:first-child{
  min-width: 15vw;
  height: 100%;
}
.frontMainBox>section:nth-child(2){
}
.frontMainBox>section:last-child{
  min-width: 15vw;
}
.visitBarBox{
  width: 300px;
  height: 200px;
  padding: 5px;
  /* background-color: #9c9c9c; */
  border: #9c9c9c 1px solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.visitBar{
  width: 30px;
  min-height: 3px;
  background-color: #d1f1fa;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
}


#visitBox *,
#weatherBox *{
  color: #9c9c9c;
}
#visitBox>section,
#weatherBox>section{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border: 2px solid rgb(98, 98, 98);
  border-radius: 5px;
}

#dustTable{
  border-collapse: collapse;
  border-color: #9c9c9c;
  width: 100%;
}
#dustTable>tr{
  width: 100%;
}
#dustTable td{
  text-align: center;
  padding: 3px;
}
#dustTable>tr:nth-child(2)>td{
  font-size: 40px;
}

#midTemperatureTable{
  border-collapse: collapse;
  border-color: #9c9c9c;
  width: 100%;
}
#midTemperatureTable>tr{
  width: 100%;
}
#midTemperatureTable td{
  text-align: center;
  padding: 3px;
}
